/* ***********************************************************************************
Fonts
************************************************************************************ */


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-bold-webfont.woff') format('woff'),
    url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('fonts/montserrat-light-webfont.woff') format('woff'),
    url('fonts/montserrat-light-webfont.ttf') format('truetype'),
    url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ***********************************************************************************
Basics
************************************************************************************ */


/* Needed for a fluid height: */
html, body, .container, .main
{
    height: 70rem;
}



.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: auto;
}

body {
  margin: 0;
  font-family: 'montserratlight', Arial;
  background-color: #ffffff;
  letter-spacing: 1.5px;
}

html { font-size: 62.5%;
}

.section {
    width: 800px;
}

.section-wide {
    max-width: 1200px;
}

.innersection-wide {
    max-width: 1200px;
 }

.innersection {
    max-width: 800px;
}

.herosection {
    max-width: 1200px;
}

.mainsection {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.spacer {
    height: 4rem;
}

.topspacer {
    height: 2rem;
}

.spacerinline {
    height: 0.5rem;
}

.connectcolor {
    color: #00AEEF;
    text-decoration: none;
}

.aboutcolor {
    color: #00A651;
    text-decoration: none;
}

.projectcolor {
    color: #0076A4;
    text-decoration: none;
}

.slidersection {
    height: 60rem;
}



/* ***********************************************************************************
Headers
************************************************************************************ */

.topsectionheader {
    width: 100%;
    height: 6.00rem;
    background-color: rgba(239, 239, 239, 0.8);
    position: fixed;
    z-index: 10000;
}

.connectsectionheader {
    width: 100%;
    height: 6.00rem;
    background-color: #00AEEF;
}


.navbar {
    margin: 0 1rem 0 0;
}


.sectionheaderlink {
    font-size: 2rem;
    line-height: 6rem;
    color: #ffffff;
    font-family:'montserratlight', Arial;
}

a.sectionheadertext {
    text-decoration: none;
    font-size: 2rem;
    line-height: 8rem;
}

.footer {
    width: 100%;
    height: 60rem;
    background-color: #333333;
    margin: 0 0 0 0;
}

.footertext p {
    font-size: 1.2rem;
    line-height: 15rem;
    color: #FFFFFF;
    font-family: 'montserratlight';
    text-align: center;
}

#roundheader {
    display: none;
}



/* ***********************************************************************************
TOP
************************************************************************************ */


.topsection {
    padding: 20px 0;
    background-image: url(../img/tahoe.jpg);
    background-size: cover;
}


.headerimage {
    position: absolute;
}

.headerimage img {
    height: 6rem;
}

.headericon img {
    height: 5rem;
    margin: .5rem 0 .5rem 0;
}

.cta-wrapper a {
    text-decoration: none;
    color: #FFFFFF;
}

.cta-wrapper a:hover  {
    background-color: #0077A3;
    color: #EFEFEF;
}

/* ***********************************************************************************
CONNECT
************************************************************************************ */


.cbp-rfgrid {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.cbp-rfgrid li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 16.6666667%; /* Fallback */
	width: -webkit-calc(100% / 5);
	width: calc(100% / 5);
}

.cbp-rfgrid li a,
.cbp-rfgrid li a img {
	display: block;
	width: 100%;
	cursor: pointer;
}

.cbp-rfgrid li a img {
	max-width: 100%;
}

.cbp-rfgrid li a:hover {
	opacity: .7;
}


/* ***********************************************************************************
ABOUT
************************************************************************************ */

.aboutimage img {
    width: 100%;
}

.aboutblock {
    width: 30%;
    margin: 5% 0 0 65%;
    height: 66rem;
    background-color: #fff;
    position: absolute;
}


.behindnav {
    width: 100%;
    margin: 66.6rem 0 0 0;
    height: 6rem;
    background-color: #F2F2F2;
    position: absolute;
    z-index: 900;
    float: left
}

.aboutblockimage {
    overflow: hidden;
    width: 80%;
}

.aboutblockimage img{
    max-width:100%;
}

.aboutblocktext {
    margin: 0 10% 10% 10%;
    font-family: 'open_sansregular', times;
    font-size: 1.4rem;
    letter-spacing: 0px;
}

.aboutlinks {
    color: #000000;
}

.aboutnextbuttons{
    width:100%;
    height: 6rem;
    margin: 30rem 0 0 0;
    position: absolute;
/*    z-index: 2;*/
}

.jobtitle {
    font-family: 'montserratlight';
    text-transform: uppercase;
}

.jobyears {
    font-family: 'montserratlight';
    text-transform: uppercase;

}

.aboutblockbelow {
    width: 100%;
    margin: 40rem 0 0 0;
    height: 20rem;
    background-color: #fff;
    position: absolute;
}

.abouttable {
    height: 100%;
    align: left;
    valign: center;
}

.tableimage {
    width: 20%;
    padding: 0 5% 0 0;
}

.tableimage img{
    width: 100%;
}

.tabletext {
    width: 75%;
}

.aboutblockimagebelow {
    width: 20%;
    margin: 0 5% 0 5%;
    position: relative;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aboutblockimagebelow img {
    max-width: 100%;
}

.aboutblocktextbelow {
    width: 65%;
    margin: 2rem 5% 2rem 0;
}

.aboutmenarrow {
    display: none;
}

.aboutbuttons p {
    font-family: 'open_sansregular';
}




/* ***********************************************************************************
PROJECTS
************************************************************************************ */


figure {
display: block;
-webkit-margin-before: 0rem;
-webkit-margin-after: 0rem;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


figure.item img {
    width: 100%;
}

.projectcaptioncontainer {
    width: 50%;
    float: left;
    margin: auto 0 auto 1rem;
}

.projectcaptioncontainer p {
    font-family: 'open_sansregular';
    letter-spacing: 0px;
    font-size: 1.6rem;
}

.projectcaption {
    width: 100%;
    margin: 46rem 0 0 0;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    opacity: 0.75;
}

.projectcaptiontext {
    margin: 1rem 2.5% 0 2.5%;
    font-size: 1.8rem;
    font-family: 'open_sansregular';
    letter-spacing: 0px;
    
}

.nextbuttons {
    height: 3rem;
    width: 3rem;
    margin: 20rem 0 0 0;
   /* position: absolute;*/
}

.nextbuttonscontainer {
    width: 100%;
    height: 1px;
    position: absolute
}

.nextbuttonsimg {
    height: 6rem;
    max-width: 3rem;
}

.projsection {
    width: 31%;
    float: left;
    margin: 2rem 2% 0 0;
    font-family: 'open_sansregular';
    letter-spacing: 0px;
}




.projroles ul { list-style: none;}


.projroles li:before {
    font-family: FontAwesome;
    margin: 0 1rem 0 0;
}

.projroles li.full:before {
    content: "\f111";
}
.projroles li.half:before {
    content: "\f042";
}

.projroles li.empty:before {
    content: "\f10c";
}


.youtubevid iframe {
    height: 65%;
    width: 65%;
    margin: 10% 17.5% auto 17.5%;
}

.projectspacer {
    height: .25rem;
    background-color: #0076A4;
    margin: 4rem auto 4rem auto;
}

.project {
    overflow: hidden;
    width: 100%;
}


/* ***********************************************************************************
PROJECT SLIDER
************************************************************************************ */


#full-width-slider   {
  width: 100%;
  color: #000;
}


#full-width-slider1   {
  width: 100%;
  color: #000;
}

#full-width-slider2  {
  width: 100%;
  color: #000;
}

#full-width-slider3   {
  width: 100%;
  color: #000;
}

#full-width-slider4   {
  width: 100%;
  color: #000;
}

.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}

.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 25%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
  font-family: 'open_sansregular';
}



.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.75);
  left: 30px;
  right: auto;
}

.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 1.8rem;
  margin: 4px 0 0;
  font-family: open_sansregular;
  letter-spacing: 0px;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 0px;
  z-index: 25; 
} 
.photosBy a {
  color: #000;
}
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

.pagingbox {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 6rem;
  background: rgba(0,0,0,0.4);
  overflow: hidden;
}

.pagingbox div p {
    line-height: 6rem;
    width: 70%;
    margin: 0 0 0 1rem;
}

.pagingbox div p span {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    letter-spacing: 0px;
    font-family: 'open_sansregular';
    padding-bottom: .5rem;
}




/* ***********************************************************************************
MEDIA QUERIES
************************************************************************************ */


@media screen and (max-width: 5000px) {

    .aboutsectionheader {
        height: 10.00rem;
        background-color: rgba(239, 239, 239, 0.6);
    }

    .sectionheadertext {
        padding-top: 0;
        font-size: 2.4rem;
        line-height: 10rem;
        text-transform: uppercase;
        color: #0077A3;
        font-family:'montserratlight', Arial;
        margin-left: 2rem;
    }

    .cta-wrapper {
        background-color: #0077A3;
        width: 180px;
        height: 35px;
        font-size: 1.6rem;
        line-height: 3.4rem;
        font-family: 'montserratlight', Arial;
        text-transform: uppercase;
        text-align: center;
        margin: 2rem 0 0 0;
    }

    .cta-button:hover {
        background-color: #DD2365;
        width: 180px;
        height: 35px;
    }

	.aboutblock {
	    display: block;
	}
	.aboutblockbelow {
	    display: none;
	}
	.mobilenav {
	    display: none;
	}
	.cbp-rfgrid li {
		width: 20%; /* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
    .cbp-contentslider nav a {
        font-size: 1.5rem;
    }
    .projectssectionheader {
        margin-bottom: 4rem;
    }
    .hero-text {
        margin: 30% 8rem 10% 8rem;
        color: #333333;
    }
    .hero-text h1 {
        font-size: 7.200rem;
        font-family: 'montserratbold', Arial;
        font-weight: normal;
        letter-spacing: 0;
    }

    .hero-text h3 {
        font-size: 3.400rem;
        font-family: 'montserratlight', Arial;
        font-weight: 100;
        letter-spacing: 0;
    }

    .projtitle {
        width: 100%;
        float: left;
        margin: 2rem 0 0 0;
        font-family: 'open_sanssemibold';
        letter-spacing: 0px;
    }

    .projtitle h3 {
        font-size: 2.4rem;
        color: #0077A3;
        font-family: 'montserratlight';
        text-transform: uppercase;
        letter-spacing: 0px;
    }

    .projsection h5 {
        font-size: 1.8rem;
        font-family: 'montserratlight';
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #323232;
    }


    ul {
        font-size: 1.4rem;
        font-family: 'open_sansregular';
        letter-spacing: 0px;

    }

    .projsection p {
        font-size: 1.4rem;
        font-family: 'open_sansregular';
        letter-spacing: 0px;
    }

    .topsection {
        padding: 20px 0;
        background-image: url(../img/scarf_crop.png);
        background-size: cover;
    }


}




@media screen and (max-width: 980px) {

    html, body, .container, .main {
        height: 55rem;
    }

    .cbp-contentslider nav a {
        font-size: 1.2rem;
    }

    .hero-text {
        margin: 25% 8rem 5% 4rem;
    }

    .hero-text h1 {
        font-size: 6rem;
        font-family: 'montserratbold', Arial;
        font-weight: normal;
        letter-spacing: 0;
    }

    .hero-text h3 {
        font-size: 2.4rem;
        font-family: 'montserratlight', Arial;
        font-weight: 100;
        letter-spacing: 0;
    }

}


@media screen and (max-width: 750px) {

	.topsection {
	    font-size: 6rem;
	}

    .hero-text {
        margin: 25% 8rem 5% 4rem;
    }

    .hero-text h1 {
        font-size: 4.8rem;
        font-family: 'montserratbold', Arial;
        font-weight: normal;
        letter-spacing: 0;
    }

    .hero-text h3 {
        font-size: 2.4rem;
        font-family: 'montserratlight', Arial;
        font-weight: 100;
        letter-spacing: 0;
    }


    .aboutsection {
        height: 70rem;
    }


    .projectssectionheader {
        margin-bottom: 0rem;
    }

	.aboutblock {
	    display: none;
	}
	.aboutblockbelow {
        height: 16rem;
        margin: 33rem 0 0 0;
	    display: block;
	}
	.aboutimage {
	    height: 60%;
	    width: 100%;
	}
	.aboutimage img{
	    max-width: 120%;
	}
	.section {
	    width: 100%;
	}
	.aboutblocktextbelow {
	    font-size: 80%
	}
	.projsection {
	    width: 100%;
	    float: left;
	    margin: 2rem 2% 0 0;
	}
	.innersection {
	    width: 95%;
	}
	.cbp-rfgrid li {
		width: 25%; /* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}


	.infoBlock {
	  padding: 10px;
	  height: auto;
	  max-height: 100%;
	  min-width: 40%;
	  left: 5px;
	  top: 5px;
	  right: auto;
	  font-size: 12px;
	}
	.infoBlock h3 {
	   font-size: 14px;
	   line-height: 17px;
	}
}

@media screen and (max-width: 490px) {

    html, body, .container, .main {
        height: 45rem;
    }



	.topsection {
	    font-size: 4.5rem;
        padding-top: 3rem;
	}

    .hero-text {
        margin: 30% 4rem 5% 2rem;
    }

    .hero-text h1 {
        font-size: 3.0rem;
        font-family: 'montserratbold', Arial;
        font-weight: normal;
        letter-spacing: 0;
    }

    .hero-text h3 {
        font-size: 1.4rem;
        font-family: 'montserratlight', Arial;
        font-weight: 100;
        letter-spacing: 0;
    }

    .cta-wrapper {
        background-color: #0077A3;
        width: 130px;
        height: 24px;
        font-size: 1.2rem;
        line-height: 2.3rem;
        font-family: 'montserratlight', Arial;
        text-transform: uppercase;
        text-align: center;
        margin: 2rem 0 0 0;
    }

    .cta-button:hover {
        background-color: #DD2365;
        width: 130px;
        height: 24px;
    }

    .aboutmewide {
	    display: none;
	}
	.aboutmenarrow {
	    display: block;
	}
	.cbp-rfgrid li {
		width: 33.3333333%; /* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
    .aboutblockbelow {
        height: 16rem;
        margin: 23rem 0 0 0;
        display: block;
    }
	
	.pagingbox div p span{
	    font-size: 1.2rem;
	}
	#roundheader {
	    display: block;
	}
	#longheader {
	    display: none;
	}
    ul {
    font-size: 1.2rem;
    }

    .projtitle {
        width: 100%;
        float: left;
        margin: 2rem 0 0 0;
        font-family: 'open_sanssemibold';
        letter-spacing: 0px;
    }

    .projtitle h3 {
        font-size: 1.8rem;
        color: #0077A3;
        font-family: 'montserratlight';
        text-transform: uppercase;
        letter-spacing: 0px;
    }

    .projsection h5 {
        font-size: 1.4rem;
        font-family: 'montserratlight';
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #323232;
    }

    .projsection p {
        font-size: 1.2rem;
        font-family: 'open_sansregular';
        letter-spacing: 0px;
    }

    .topsection {
        padding: 20px 0;
        background-image: url(../img/scarf_crop.jpg);
        background-size: cover;
    }

    .aboutsectionheader {
        height: 8.00rem;
    }

    .sectionheadertext {
        line-height: 8rem;
        margin-left: 1rem;
        font-size: 2.0rem;
}

}






